html, body {
  width: 150px;
  background-color: #1b1b23;
  color: #E5F2F2;
  font-family: Helvetica, sans-serif;
}

h2 {
  margin-top: 0px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 7px;
}

.activate:hover {
  background-color: #3774df;
}

.activate {
  background-color: #5084e0;
}